<%
  meta title: "Cookies",
    description: ""
%>

<% @simple_header_layout = true %>

<%= content_for :hero do %>
  <div class="container-xl">
    <div class="row text-center justify-content-center g-0 py-6 py-lg-7 py-xl-8">
      <div class="col-lg-20 col-xl-18">
        <h1 class="mb-0">Cookies</h1>
      </div>
    </div>
  </div>
<% end %>

<section class="container-xl pb-6 pb-lg-7 pb-xl-8">
  <div class="row justify-content-center gy-0">
    <div class="col-lg-20 col-xl-16">
      <section class="mb-5">
        <h2 class="h4">Use of ‘cookies’</h2>
        <p class="mb-0">Like many other websites, the companyname website uses cookies. ‘Cookies’ are small pieces of information sent by an organisation to your computer and stored on your hard drive to allow that website to recognise you when you visit. They collect statistical data about your browsing actions and patterns and do not identify you as an individual. For example, we use cookies to store your country preference. This helps us to improve our website and deliver a better more personalised service. It is possible to switch off cookies by setting your browser preferences. For more information on how to switch off cookies on your computer, visit our full cookies policy. Turning cookies off may result in a loss of functionality when using our website.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Main Cookies used on our site</h2>
        <p>Google Analytics</p>
        <p>These cookies are used to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site.</p>
        <p>The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited.</p>
        <p>For more information on Google Analytic’s privacy policy click <a href="http://www.google.com/analytics/learn/privacy.html" target="_blank">here</a>.</p>
        <p>Google Maps</p>
        <p class="mb-0">These are Google Maps third party cookies, which are unique identifiers to allow traffic analysis to Google Maps.</p>
      </section>
    </div>
  </div>
</section>
