<%
  meta title: "Terms",
  description: ""
%>

<% @simple_header_layout = true %>

<%= content_for :hero do %>
  <div class="container-xl">
    <div class="row text-center justify-content-center g-0 py-6 py-lg-7 py-xl-8">
      <div class="col-lg-20 col-xl-18">
        <h1 class="mb-0">Terms</h1>
      </div>
    </div>
  </div>
<% end %>

<section class="container-xl pb-6 pb-lg-7 pb-xl-8">
  <div class="row justify-content-center gy-0">
    <div class="col-lg-20 col-xl-16">
      <section class="mb-5">
        <h2 class="h4">General</h2>
        <p>These Terms of Use govern, together with the Privacy Policy, your use of the Mother Fit website (and related services provided by Mother Fit  (”Us”, ”We”).</p>
        <p class="mb-0">By using Mother Fit you agree to be bound by these Terms of Use and by completing the online registration process, you confirm and affirm that you have read, understood and agree to these Terms of Use. If you do not agree to these Terms of Use, do not use the Mother Fit platform.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Intellectual Property Rights</h2>
        <p class="mb-0">The website and all related trademarks, logos, software and other intellectual property rights are and shall remain our exclusive property. Your right to use the Mother Fit platform and its content is personal, non-exclusive, non-sublicensable and non-transferable. Any copying, republication or redistribution of the Application or any of its content is strictly prohibited.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Disclaimer Of Warranty</h2>
        <p class="mb-0">The platform and all of its content are provided on an ”As Is” and ”As Available” basis and We do not provide any assurances of the availability or usability by you of the platform.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Limitation Of Liability</h2>
        <p>We shall not be liable for any errors in any content, actions taken, injuries or and misfortunes that may occur when you are using our content. Furthermore, we shall not be liable to you for any interception of online communications, software or hardware problems (including, without limitation, viruses, loss of data or compatibility conflicts).</p>
        <p class="mb-0">Mother Fit recommends only performing the workouts/classes from your specific trimester. However, you may still choose to perform workouts from other trimesters at your own choice if YOU feel happy to do so. Mother Fit is not liable for any injuries/ misfortunes that may occur due to performing workouts outside of your trimester.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Mother Fit Subscription</h2>
        <p>You may at any time terminate your membership, in which case your membership will still be valid for the subscription time you have already paid for.</p>
        <p>You must ensure you cancel your membership before the date of your upcoming renewal. We do not offer refunds or credits for additional access for any unused subscription periods, change of mind, accidental purchases, medical reasons or any other reason unless required to do so by law.</p>
        <p>Our auto-renewable purchase subscriptions can only be logging into the users account and cancelling. We reserve the right to change the subscription fees from time to time.</p>
        <p class="mb-0">If you decide to cancel your subscription you will still maintain access to the free version of the platform. The content of the free version can be changed at any time by the Mother Fit team without warning to the user.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Miscellaneous</h2>
        <p class="mb-0">We reserve the right to, from time to time, in our sole discretion amend these Terms of Use. It is your responsibility to review these Terms of Use from time to time to understand the extent of changes. Your continued use of the Application constitutes your agreement to the amended and updated Terms of Use.</p>
      </section>
      <section class="mb-5">
        <h2 class="h4">Health Declaration</h2>
        <p>Mother Fit is designed to help you reach your health and fitness goals with access to a range of both live and recorded classes. Information provided through the Mother Fit website does not claim to be and must not be taken as medical advice, therefore, before starting any exercise regime you should consider consulting your doctor, especially if you have any medical condition(s) or are taking medication, are pregnant or have any related concerns. If you have asthma, diabetes, a heart condition, growth condition or have experienced chest pains or dizziness in the last month, we strongly advise you NOT to participate in any of the live or recorded classes, and any other products and/or services.</p>
        <p>By using Mother Fit workouts you recognise that there is always an element of risk involved with any physical activity and your attendance at or participation in any Session is solely at your own risk. If at any time during a Session you feel discomfort or pain you should cease the exercise and seek medical assistance as required. Your participation in these Sessions are entirely voluntary and you may opt out at any given time, if you so wish.</p>
        <p>You agree that Mother Fit will not be liable to you and/or any third party for or in connection with:</p>
        <ol class="list-counter mb-3">
          <li>losses not caused by our breach of these terms and conditions; or</li>
          <li>any consequential or incidental losses which are a side effect of the main loss or damage and not reasonably foreseeable by us and you at the time of entering into these terms and conditions.</li>
        </ol>
        <p>Mother Fit and its affiliates do not exclude or limit in any way its liability for:</p>
        <ol class="list-counter mb-3">
          <li>death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors;</li>
          <li>fraud or fraudulent misrepresentation.</li>
          <li>Mother Fit cannot accept any liability for the actions of third party trainers or any breach by them of the terms of their service to you.</li>
        </ol>
        <p>Mother Fit will not be liable for any injury, loss, claim, damage or any special, exemplary, punitive, indirect or consequential damages of any kind, which arises out of or is in any way connected with your attendance at or participation in any Session. By taking part in a Session, you warrant and represent that you are fit and healthy to take part.</p>
        <p>Anyone taking part in <strong>home workouts</strong> does so at their own risk.</p>
        <p>Mother Fit does not accept any responsibility for any individual nor group of individuals, who may be participating in our recorded or live home workouts. To take part in <strong>Mother Fit’s</strong> workouts, you must be in good physical health. If you’ve been told on health or medical grounds that you should not take part in physical activity and sport, then you won’t be able to join in with this exercise and fitness session.</p>
        <p class="mb-2">To perform this activity in a safe way, you must make sure that the area you use is suitable.</p>
        <p class="mb-2">The area must be:</p>
        <ul class="list-bullet mb-3">
          <li>a flat surface</li>
          <li>clear of any obstacles</li>
          <li>spacious enough for the type of activity</li>
        </ul>
        <p class="mb-0">By taking part in this exercise and fitness session – whether live or pre-recorded instructional video – you agree to the above terms and conditions.</p>
      </section>
      <p class="fst-italic text-muted mb-0">Last amended and updated 3rd Feb 2022</p>
    </div>
  </div>
</section>
