<section class="bg-white shadow rounded-2 p-4 px-3 mb-3 d-none d-md-block">
  <div class="d-flex justify-content-between">
    <div>
      <a class="btn btn-secondary p-2" data-disable-with="Leave us a review" href="https://uk.trustpilot.com/evaluate/motherfit.co.uk" target="_blank">
        Leave us a review
      </a>
    </div>
    <div>
      <a class="btn btn-outline-primary p-2" data-disable-with="Book a call" href="https://calendly.com/michelle-founder-motherfit" target="_blank">
        Book a call
      </a>
    </div>
  </div>
</section>
