.sidebar {
	height: 100vh;
	padding: $spacer $spacer / 1.5; // 30px 20px
	position: fixed;
	width: rem(230px);

	@include media-breakpoint-up(lg) {
		border-bottom-right-radius: $md-border-radius;
		height: calc(100vh - #{$spacer}); // 100vh - 30px
	}
}
