<% meta title: "Dashboard - Categories" %>
<% @page_title = "Categories" %>

<section class="bg-white shadow rounded-2 p-4">
  <div class="row">
    <div class="col-xxl-16">
      <div class="row row-cols-1 gy-4">
        <%= render @categories, horizontal_style: true %>
      </div>
    </div>
  </div>
</section>
