// Font anti-aliasing fix for Mac users
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer / 1.2; // 25px
  }
}

p {

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer / 1.5; // 20px
  }
}
