<td class="comment_body_td content-td intercom-template-content"
    style="-webkit-background-clip: padding-box; -webkit-border-radius: 0 0 3px 3px; background-clip: padding-box; background-color: white; border-radius: 0 0 3px 3px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05); color: #525252; font-family: 'Helvetica Neue',Arial,sans-serif; font-size: 15px; line-height: 22px; overflow: hidden; padding: 40px 40px 30px" bgcolor="white">
  <div class="intercom-container"
       style="line-height: 0; margin-bottom: 17px; margin-top: 17px; padding-top: 0">
    <a target="_blank" href="https://www.motherfit.co.uk/" style="color: #1251ba">
      <%= mailer_image_tag('mailers/header-logo.png', alt: "mother fit", style:"margin: 0; max-width: 100%") %>
    </a>
  </div>
  <h1 class="intercom-align-center"
      style="color: #ff6666; font-size: 26px; font-weight: normal; line-height: 33px; margin-bottom: 7px; margin-top: 30px; text-align: center !important" align="center">
    Forgot your password?
  </h1>
  <div class="intercom-container"
       style="line-height: 0; margin-bottom: 17px; margin-top: 17px">
    <a target="_blank" href="https://www.motherfit.co.uk/" style="color: #1251ba">
      <%= mailer_image_tag('mailers/reset-new-pass.jpeg', style: "margin: 0; max-width: 100%") %>
    </a>
  </div>
  <p class="intercom-align-center"
     style="line-height: 1.5; margin: 0 0 17px; text-align: center !important" align="center">
    That's okay, it happens!<br>Click the button below to reset your password
  </p>
  <table class="intercom-container intercom-align-center"
         align="center"
         style="margin: 17px auto 16px; text-align: center !important">
    <tbody>
    <tr>
      <td style="background-color: #ef476f; border-radius: 3px; font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 12px 35px"
          bgcolor="#ef476f">
        <a class="intercom-h2b-button"
           target="_blank" href="<%= edit_password_url(@user, reset_password_token: @token) %>"
           style="background-color: #ef476f; border: 1px none rgba(0,0,0,0.2); border-radius: 5px; color: #FFF; display: inline-block; font-size: 14px; font-weight: bold; min-height: 20px; padding: 0px; text-decoration: none">
          RESET YOUR PASSWORD
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</td>
