<% icon_style ||= "fas" %>

<li class="col-19 col-md-10 col-lg-8 col-xl-6">
  <span class="tile tile-primary tile-lg mb-4"><%= icon "#{icon_style}", "#{icon}" %></span>
  <h3 class="h6 mb-2"><%= title %></h3>
  <p class="small mb-0"><%= description %></p>
</li>
